.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: white;
}

.img {
  height: 200px;
  width: 180px;
  object-fit: fill;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.btn_area {
  margin: 10px;
}
.activeBtn {
  height: 30px;
  margin: 6px;
  background-color: rgb(67, 67, 96);
}

.btn {
  height: 30px;
  margin: 6px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.list_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Products-items {
  list-style: none;
  width: 250px;
  height: 320px;
  margin: 19px 15px;
}
